html {
  background-image: url("images/mountains.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: "IM Fell Great Primer", serif;
  font-weight: 100;
  font-style: normal;
}

body {
  width: 900px;
  height: 900px;
  margin: 0 auto;
  background-color: rgba(244, 250, 255, 0.5); /* #F4FAFF */
  padding: 0 20px 20px 20px;
  border: 5px solid rgba(244, 250, 255, 0.7); /* #F4FAFF */
  font-size: 18px;
}

h1 {
  font-family: "IM Fell Great Primer", serif;
  font-weight: 400;
  font-style: normal;
  /*text-transform: uppercase;*/
  font-size: 40px;
  text-align: center;
}

h2 {
  font-family: "IM Fell Great Primer", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 36px;
}

h3 {
  font-family: "IM Fell Great Primer", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

img {
  max-width: 100%;
  display: block;
  float: left;
  margin: 0 15px 0 0;
}

nav {
  background-color: rgba(31, 70, 50, 0.858); /* #1F4632 */
  padding: 0.5em;
  position: static;
  top: 0px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5em 1em;
}

.flip-card {
  background-color: transparent;
  /* width: 300px; */
  width: 100%;
  /* height: 300px; */
  aspect-ratio: 1 / 1;
  perspective: 1000px;
  float: left;
  /* margin: 10px; */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.flip-card-front {
  background-color: #8ca69b;
  color: #4b3f32;
}

.flip-card-back {
  background-color: #6c493a;
  color: #f4faff;
  transform: rotateY(180deg);
}

.accordion {
  background-color: #6c493a;
  color: white;
  /* color: #ebd7d3; */
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  /* background-color: #ebd7d3; */
  background-color: white;
  color: #6c493a;
}

.panel {
  padding: 0 18px;
  /* background-color: #ebd7d3; */
  background-color: white;
  color: #6c493a;
  display: none;
  overflow: hidden;
}
