html {
  background-image: url("images/mountains.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* font-size: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #333;
  margin: 0;
  font: 1.2em / 1.2 Arial, Helvetica, sans-serif; */
}

body {
  width: 900px;
  height: 900px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 20px 20px 20px;
  border: 5px solid rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

img {
  max-width: 100%;
  display: block;
  float: left;
  margin: 0 15px 0 0;
}

nav {
  background-color: rgba(39, 84, 54, 0.858);
  padding: 0.5em;
  position: static;
  top: 0px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
}
